/* Set the overlay */
.danejurr-overlay {
  position: absolute;
  z-index: 99998;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 4px solid rgba(189, 62, 62, 0.75);
  box-sizing: border-box;
  -webkit-animation: danejurr-fadeIn 2s infinite alternate;
          animation: danejurr-fadeIn 2s infinite alternate;
}

/* Keep the overlay fixed in the viewport */
.danejurr-overlay.danejurr-fixed {
  position: fixed;
}

/* Set up the message block */
.danejurr-message {
  position: absolute;
  width: 100%;
  padding: 2px 0;
  background-color: rgba(189, 62, 62, 0.75);
  text-align: center;
  pointer-events: none;
  z-index: 99999;
}

/* Fade the overlay and message on hover */
.danejurr-message:hover,
.danejurr-message:hover .danejurr-overlay {
  opacity: 0.1;
}

/* Style message text */
.danejurr-message__text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: .5rem 0;
}

/* Pulse Animation */
@-webkit-keyframes danejurr-fadeIn {
  from { opacity: .5; }
}

@keyframes danejurr-fadeIn {
  from { opacity: .5; }
}